@import "tailwindcss";

@theme {
  --font-sans: "Geist Variable", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Geist Mono Variable", ui-monospace, monospace;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}
